{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}


{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
<link rel="stylesheet" href="{% static 'signup/style.css' %}">


<div class="container w-50 py-5">
  <div class="signup-content">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      <h2 class="form-title">Create account</h2>

      {% csrf_token %}

      {{ form.non_field_errors | safe }}
      <input type="hidden" name="remember" value="true" />

      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        {% render_field form.username placeholder="Username" id="username" name="username" type="text" autocomplete="username" required=True class="form-input" %}
        {{ form.username.errors | safe }}
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        {% render_field form.email id="email" name="email" placeholder="Email" type="email" autocomplete="email" required="True" class="form-input" %}
        {{ form.email.errors | safe }}
      </div>
      <div class="form-group">
        <label for="password1" class="form-label">Password</label>
        {% render_field form.password1 id="password1" name="password1" placeholder="Password" type="password" autocomplete="current-password" required="True" class="form-input is-invalid" aria-describedby="password1" %}
        {{ form.password1.errors | safe }}
      </div>
      <div class="form-group">
        <label for="password2" class="form-label">Confirm Password</label>
        {% render_field form.password2 id="password2" name="password2" type="password" autocomplete="current-password" required="True" class="form-input" placeholder="Confirm Password" %}
        {{ form.password2.errors | safe }}
      </div>
      <div class="form-group pt-3">
        <input class="form-check-input" type="checkbox" id="agree-term" required>
        <label for="agree-term"><span><span></span></span>I agree to GeoQuest's <a href="#" class="term-service">Terms of service</a></label>
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="form-group pt-5">
        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up">
      </div>
    </form>
    <p class="loginhere">
    Have already an account? <a href="{{ login_url }}" class="loginhere-link">Login here</a>
    </p>
  </div>
</div>
    

{% endblock content %}