.createPoints {
    background: #fff;
    border-radius: 0.625rem;
    padding: 3rem 5.3rem;
    width: 55%;
    position: relative;
}


h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.625rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .modal-header {
    .h2,
    padding-top: 10px;
    padding-bottom: 10px;
} */

.form-input {
    width: 100%;
    border: 0.06rem solid #ebebeb;
    border-radius: 0.3rem;
    padding: 1rem 1.25rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1rem;
}

.locationInput {
    overflow: auto; 
    height: 43vh;
}

.hidden {
    display: none;
}

.btn-2 {
    border-radius: 0.3rem;
    padding: 0.5rem 1.25rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-color: #051937;
}

.btn-2:hover {
    color: #00bf72;
}

.btn-3 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
}

.btn-3:hover {
    background-color: #fff;
    border: none;
}

.btn-3:after {
    background-color: #fff;
    border: none;

}

.toast {
    position: fixed; 
    top: 10px; 
    right: 10px;
    min-height: 100px;
    backdrop-filter: blur(10px);
    z-index: 1000; 
}

.toast-header {
    background-color: #004d7a;
    color: #fff;
}

.modal-info {
   
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px;
    margin-top: -150px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    
    &.active {
      display: block;
    }
}

.close {
    top: 10px;
    right: 10px;
    
    border: none;
    position: absolute;
}
